@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --green-color: #2EC0A6;
    --purple-color: #BB2AD2;
    --yellow-color: #D1AA3F;
    --gray-color: #F8F8F8;
    --light-color: #FEF4FF;
    --red-color: #DE214F;
    --dark-color: #37233A;
    --white-color: #FFFFFF;
    --gray-200-color:#F8F8F8;
    --gray-300-color: #d1d5db;    ;
    --gray-700-color: #AAAAAA;
    --dark-500-color: #734B79;
    --dark-700-color: #523457;

    --min-menu-h: 4rem;
  }

body, html, #root {
    width: 100%; 
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
*, *::after, *::before {
    box-sizing: border-box;
    scrollbar-color: var(--gray-300-color) var(--gray-200-color);
}
*::focus{
    outline:none; 
}
*::-webkit-scrollbar {
    width: 2px;
}
*::-webkit-scrollbar-track {
    @apply bg-gray-200 dark:bg-dark-500;
}
*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    @apply bg-gray-300 dark:bg-dark-700;
}
/* BUTTONS */
button{
    transition: 300ms ease-in-out;
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -ms-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
}
button:hover{
    border-color: var(--purple-color) !important;
    color: var(--purple-color) !important;
}
.dark *{
    scrollbar-color: var(--dark-700-color) var(--dark-500-color);
}
.icon-with-score-container{
    @apply flex items-center justify-around gap-[2px] w-fit;
}
.icon-with-score-container span{
    @apply text-[12px] text-dark-800 mx-2 dark:text-light sm:text-[12px] md:text-[14px];
}
.header, .mobile-menu, .practice-menu{
    @apply py-2 border-gray-300 bg-white dark:bg-dark-800 dark:border-dark-500;
    min-height: var(--min-menu-h);
}
.header, .mobile-menu {
    @apply flex flex-row justify-around items-center;
}
.practice-menu{
    @apply flex justify-start items-center gap-2;
}
.header {
    @apply border-b-[2px];
}
.mobile-menu, .practice-menu{
    @apply border-t-[2px] absolute bottom-0 left-0 right-0;
}
/* Work around for layout white space mobile view problem in Chrome  */
.dark{
    background: var(--dark-color)
}
.quizzes-container{
    height: calc(100% - 7rem);
    @apply mx-2 overflow-y-auto;
}
.accordion {
    @apply w-full max-w-xs max-h-screen;
}
.list-item-title{
    @apply text-sm text-dark-800 dark:text-dark-500;
}
.list-item-content{
    @apply text-sm font-light text-dark-800 dark:text-light;
}
.modal-container{
    @apply w-full h-[92%] mt-12 overflow-y-auto px-4;
}
/* buttons */
.square-pressable {
    @apply flex justify-center items-center w-7 h-7 my-1 rounded-sm shadow-md;
}
.rectangle-pressable {
    @apply flex justify-center items-center px-2 py-1 my-1 rounded-sm shadow-md;
}
.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noSelect:focus {
    outline: none !important;
}
.practice-button-value {
    @apply text-sm text-white font-semibold dark:text-dark-800;
}
/* CARDS */
.card-deck-container {
    @apply bg-transparent relative;
    height: calc(100% - 2*var(--min-menu-h));
}
.front-card-container {
    @apply  absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 max-w-[17rem] max-h-[30rem] w-3/4 h-3/4; 
}
.card {
    @apply absolute rounded-md ease-in-out duration-1000 overflow-hidden;
}
.card.front{
    @apply inset-0 scale-100 border border-gray-300 z-30 bg-white dark:bg-dark-800 dark:border-purple;
}
.card.middle{
    @apply inset-0 z-20 bg-gray-300 dark:bg-dark-600;
    transform: scale(.8) translate(0, -78px);
    -webkit-transform: scale(.8) translate(0, -78px);
    -moz-transform: scale(.8) translate(0, -78px);
    -ms-transform: scale(.8) translate(0, -78px);
    -o-transform: scale(.8) translate(0, -78px);
}
.card.back{
    @apply inset-0 z-10 bg-gray-200 dark:bg-dark-700;
    transform: scale(.6) translate(0, -205px);
    -webkit-transform: scale(.6) translate(0, -205px);
    -moz-transform: scale(.6) translate(0, -205px);
    -ms-transform: scale(.6) translate(0, -205px);
    -o-transform: scale(.6) translate(0, -205px);
}
.front.next {
    transform: rotate(10deg) translateX(200%);
    -webkit-transform: rotate(10deg) translateX(200%);
    -moz-transform: rotate(10deg) translateX(200%);
    -ms-transform: rotate(10deg) translateX(200%);
    -o-transform: rotate(10deg) translateX(200%);
}
.card.back.hidden {
    transform: rotate(10deg) translateX(200%);
    -webkit-transform: rotate(10deg) translateX(200%);
    -moz-transform: rotate(10deg) translateX(200%);
    -ms-transform: rotate(10deg) translateX(200%);
    -o-transform: rotate(10deg) translateX(200%);
}
.card.back.hidden.left {
    transform: rotate(-10deg) translateX(200%);
    -webkit-transform: rotate(-10deg) translateX(200%);
    -moz-transform: rotate(-10deg) translateX(200%);
    -ms-transform: rotate(-10deg) translateX(200%);
    -o-transform: rotate(-10deg) translateX(200%);
}
/* CHALLENGES */
.challenge{
    @apply h-full;
}
.challenge .container{
    @apply w-full h-full m-0 py-8 px-4;
}
.challenge h2{
    @apply text-center text-gray-800 font-semibold mb-4 dark:text-dark-500;
}
.challenge input {
    @apply mx-1 py-0 border-0 border-b-[2px] border-gray-300 bg-transparent dark:border-dark-500 dark:text-light;
}
.challenge input:focus {
    @apply outline-0;
}
.challenge .challenge__question{
    @apply leading-6;
    
}
.challenge .challenge_answer{
    @apply my-4;
}
/* MULTISELECT */
.multiselect__button {
    @apply text-gray-300 text-sm py-1 px-2 bg-transparent rounded-md border-[1px] border-gray-300 dark:border-dark-500 dark:text-dark-500;
}